aside.fixed.top-14.bottom-0.left-0.z-40.flex.w-64.-translate-x-full.flex-col.border-r.border-slate-200.bg-white.transition-transform.duration-200.lg:translate-x-0 data-drawer-target="panel" aria-label="Main navigation"
  nav.flex-1.space-y-1.p-3
    = link_to "Domains", domains_path, class: nav_link_classes(domains_section?)
    = link_to "Mailboxes", root_path, class: nav_link_classes(mailboxes_section?, child: true)
    = link_to "Users", users_path, class: nav_link_classes(users_section?)
